/* Name: Simranjeet Kaur, 
   Student Number: c0927703 */

body {
    background-color: #423636;
    font-family: Arial, sans-serif;
}
 
.container {
    width: 80%;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    border-radius: 10px 10px 0 0;
}

header img {
    max-width: 100%;
    height: auto;
}

nav {
    background-color: #444;
    text-align: center;
    padding: 10px 0;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
}

nav a:hover {
    background-color: #555;
}

main {
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

caption {
    caption-side: top;
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 10px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #333;
    color: white;
}

tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
}

tbody tr:nth-child(even) {
    background-color: #e9e9e9;
}

tbody tr:hover {
    background-color: #ccc;
}

main img {
    width: 100px;  /* Set fixed width */
    height: 100px; /* Set fixed height */
    object-fit: cover; /* Ensures the image covers the entire area without distortion */
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    border-radius: 0 0 10px 10px;
    font-size: 0.8em;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
.mobile-view{
      display: none;
    }
/* Responsive Styles */
@media (max-width: 768px) {
    .container {
        width: 90%;
    }

    nav a {
        padding: 10px;
        font-size: 1.1em; /* Increase font size for navigation links on smaller screens */
    }
   
}
@media (max-width: 480px) {
    header {
        padding: 10px 0;
    }

    .reasons img {
        max-width: 100%;
        height: auto;
    }
   

    footer {
        font-size: 0.8em;
    }

    nav a {
        font-size: 1.5em; /* Further increase font size for navigation links on very small screens */
    }
    footer {
        font-size: 1.2em; /* Further increase font size for very small screens */
        padding: 20px 0; /* Increase padding for better readability */
    }
     .mobile-view{
      display: block;
    }
    .desktop-view{
       display: none;
   }
}
